
.top ul li:nth-of-type(3){
	line-height: 68px;
	border-bottom: 2px solid #ff4500;
}
.content{
	margin-top:10px;
	overflow:hidden;
	background:#f6f8fa;
}
.content div{
	margin:0 auto;
	width:1000px;	
}
.content h4{
	margin-top:40px;
}
.content p{
	margin-top:10px;
	font-size:14px;
	line-height:20px;
	color:#333333;
}
table{
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
}
tr{
	border:1px solid #ccc;
}
th{
	height:56px;
	background:#e4e7eb;
}
td{
	height:54px;
	font-size:14px;
	color:#333333;
	background:#eff3f6;
}
table:nth-of-type(1){
	margin: 40px 0;
}
.content span{
	font-size:18px;
	font-weight: bold;
}
.content .footer{
	font-size: 12px;
	color:#b1b2c6;
	margin:30px 0;
}